.mainBox{
    min-width: 20%;
    padding: 20px;
    border-radius: 15px;
    margin: 0px 20px;
}

.emojiBox{
    font-size: 2.2rem;
    margin: 0;
}

.headingBox{
    font-weight: 700;
}