.eq-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  margin: 50px;
  font-family: 'Neuton', sans-serif;
}

.eq-heading {
  text-align: center;
  width: 20%;
  font-family: 'Playfair Display', serif;
}

.eq-content {
  padding: 20px;
  width: 30%;font-family: 'Neuton', sans-serif;
}

.eq-content p {
  margin: 0;
  width: 30%;
}