h1{
  display: block;
  font-size: 48px;
  color: #000000;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

.testing{
  width: 80vw;
  height: 40vh;
  background-color: #1111;
}
.boxHandle {
  display: flex;
  overflow: hidden;
  width: 100vw;
  padding: 15px;
}

.boxHandle--hidden {
  display: none;
}

.boxContainer {
  display: flex;
  animation: scroll 13s linear infinite;
}
.boxContainer:hover{
  animation-play-state: paused;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-95%);
  }
}

.heading {
  padding-left: 10px;
}

.combine{
  display: flex;
}

.ghost{
  height: 120px;
  width: 300px;
  position: relative;
  overflow: hidden;
}

.ghost-image{
  position: relative;
  top: -20px;
  left: -2px;

}