@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap');

.home {
    background-color: rgb(238, 235, 254);
    display: flex;
    height: 90vh;
    width: 100vw;
    position: relative;
    font-family: 'Neuton', sans-serif;
    font-size: 20px;
}

.left-half {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    margin: 20px;
    align-items: center;
    position: absolute;
    width: 50vw;
    left: 0;
    height: 80vh;
}

h1 {
    font-size: 64px;
    color: #000000;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

img {
    height: 55px;
    width: auto;
    border-radius: 16px;
}

.app {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-left: -150px;
    gap: 20px;
}

.app-store-link {
    display: inline;
}

.star-rating {
    font-size: 24px;
    color: #fed133;
    display: inline;
}